html, body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

button, input, textarea {
    outline: none;
}

#container {
    margin: 40px auto;
    max-width: 450px;
    line-height: 1.6;
    font-size: 18px;
    font-family: sans-serif;
    color: #333;
    padding: 0 10px;
}
